FitLifeProLatest/force-app/main/default/flows/Create_Campaign_Member.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>Campaign_Assignment_For_Email_Campaign</name>
        <label>Campaign Assignment For Email Campaign</label>
        <locationX>578</locationX>
        <locationY>539</locationY>
        <assignmentItems>
            <assignToReference>VarCampaignRecord</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Campaign_for_Email_Campaign</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Campaign_Member</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Campaign_Assignment_For_others</name>
        <label>Campaign Assignment For others</label>
        <locationX>1106</locationX>
        <locationY>539</locationY>
        <assignmentItems>
            <assignToReference>VarCampaignRecord</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Campaign_for_others</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Campaign_Member</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Campaign_Assignment_For_Referral</name>
        <label>Campaign Assignment For Referral</label>
        <locationX>314</locationX>
        <locationY>539</locationY>
        <assignmentItems>
            <assignToReference>VarCampaignRecord</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Campaign_for_Referral</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Campaign_Member</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Campaign_Assignment_For_Social_Media</name>
        <label>Campaign Assignment For Social Media</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <assignmentItems>
            <assignToReference>VarCampaignRecord</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Campaign_for_Social_Media</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Campaign_Member</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Campaign_Assignment_For_Trade_show</name>
        <label>Campaign Assignment For Trade show</label>
        <locationX>842</locationX>
        <locationY>539</locationY>
        <assignmentItems>
            <assignToReference>VarCampaignRecord</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Campaign_for_Trade_show</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Campaign_Member</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Decision_based_on_How_do_you_know_about_us</name>
        <label>Decision based on How do you know about us?</label>
        <locationX>710</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Social_Media</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Hear_About_Us__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Social_Media</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Campaign_for_Social_Media</targetReference>
            </connector>
            <label>Social Media</label>
        </rules>
        <rules>
            <name>Referral</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Hear_About_Us__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Referral</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Campaign_for_Referral</targetReference>
            </connector>
            <label>Referral</label>
        </rules>
        <rules>
            <name>Email_campaign</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Hear_About_Us__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>email_Campaign</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Campaign_for_Email_Campaign</targetReference>
            </connector>
            <label>Email campaign</label>
        </rules>
        <rules>
            <name>Trade_show</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Hear_About_Us__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Trade_show</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Campaign_for_Trade_show</targetReference>
            </connector>
            <label>Trade show</label>
        </rules>
        <rules>
            <name>others</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Hear_About_Us__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>others</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Campaign_for_others</targetReference>
            </connector>
            <label>others</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_WhetherAlready_Campaign_Member_Exists_or_Not</name>
        <label>Decision :WhetherAlready Campaign Member Exists or Not</label>
        <locationX>710</locationX>
        <locationY>839</locationY>
        <defaultConnector>
            <targetReference>Create_Campaign_Member</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Exist</defaultConnectorLabel>
        <rules>
            <name>Exit</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Campaign_Member</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <label>Exit</label>
        </rules>
    </decisions>
    <description>Create Campaign Member from Lead</description>
    <environments>Default</environments>
    <interviewLabel>Create Campaign Member from Lead {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Campaign Member</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Campaign_Member</name>
        <label>Create Campaign Member</label>
        <locationX>842</locationX>
        <locationY>947</locationY>
        <inputAssignments>
            <field>CampaignId</field>
            <value>
                <elementReference>VarCampaignRecord.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LeadId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Responded</stringValue>
            </value>
        </inputAssignments>
        <object>CampaignMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Campaign_for_Email_Campaign</name>
        <label>Get Campaign for Email Campaign</label>
        <locationX>578</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Campaign_Assignment_For_Email_Campaign</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>email Campaign</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Campaign</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Campaign_for_others</name>
        <label>Get Campaign for others</label>
        <locationX>1106</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Campaign_Assignment_For_others</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>others</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Campaign</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Campaign_for_Referral</name>
        <label>Get Campaign for Referral</label>
        <locationX>314</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Campaign_Assignment_For_Referral</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Referral</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Campaign</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Campaign_for_Social_Media</name>
        <label>Get Campaign for Social Media</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Campaign_Assignment_For_Social_Media</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Social Media</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Campaign</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Campaign_for_Trade_show</name>
        <label>Get Campaign for Trade show</label>
        <locationX>842</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Campaign_Assignment_For_Trade_show</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Trade show</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Campaign</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Campaign_Member</name>
        <label>Get Campaign Member</label>
        <locationX>710</locationX>
        <locationY>731</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Decision_WhetherAlready_Campaign_Member_Exists_or_Not</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LeadId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>CampaignId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>VarCampaignRecord.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CampaignMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>584</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Decision_based_on_How_do_you_know_about_us</targetReference>
        </connector>
        <object>Lead</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>VarCampaignRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Campaign</objectType>
    </variables>
</Flow>
