FitLifeProLatest/force-app/main/default/flows/Create_Campaign_Member_from_Lead.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>Campaign_Assignment_for_Facebook</name>
        <label>Campaign Assignment for Facebook</label>
        <locationX>578</locationX>
        <locationY>539</locationY>
        <assignmentItems>
            <assignToReference>varCampaignRecord</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Campaign_for_Facebook</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Campaign_Member</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Campaign_Assignment_for_Instagram</name>
        <label>Campaign Assignment for Instagram</label>
        <locationX>314</locationX>
        <locationY>539</locationY>
        <assignmentItems>
            <assignToReference>varCampaignRecord</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Campaign_for_Instagram</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Campaign_Member</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Campaign_Assignment_For_Twitter</name>
        <label>Campaign Assignment For Twitter</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <assignmentItems>
            <assignToReference>varCampaignRecord</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Campaign_for_Twitter</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Campaign_Member</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Campaign_Assignment_for_YouTube</name>
        <label>Campaign Assignment for YouTube</label>
        <locationX>842</locationX>
        <locationY>539</locationY>
        <assignmentItems>
            <assignToReference>varCampaignRecord</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Campaign_for_YouTube</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Campaign_Member</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Decision_Based_on_How_do_you_Know_about_Us</name>
        <label>Decision Based on How do you Know about Us</label>
        <locationX>578</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Twitter</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.How_do_you_know_about_us__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Twitter</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Campaign_for_Twitter</targetReference>
            </connector>
            <label>Twitter</label>
        </rules>
        <rules>
            <name>Instagram</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.How_do_you_know_about_us__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Instagram</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Campaign_for_Instagram</targetReference>
            </connector>
            <label>Instagram</label>
        </rules>
        <rules>
            <name>Facebook</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.How_do_you_know_about_us__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Facebook</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Campaign_for_Facebook</targetReference>
            </connector>
            <label>Facebook</label>
        </rules>
        <rules>
            <name>Youtube</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.How_do_you_know_about_us__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>YouTube</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Campaign_for_YouTube</targetReference>
            </connector>
            <label>Youtube</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_WhetherAlready_Campaign_Member_Exists_or_Not</name>
        <label>Decision :WhetherAlready Campaign Member Exists or Not</label>
        <locationX>578</locationX>
        <locationY>839</locationY>
        <defaultConnector>
            <targetReference>Create_Campaign_Member</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Exist</defaultConnectorLabel>
        <rules>
            <name>Exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Campaign_Member</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <label>Exist</label>
        </rules>
    </decisions>
    <description>When the Status of Lead Changed to Closed Converted Add the Lead to Campaign</description>
    <environments>Default</environments>
    <interviewLabel>Lead {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Campaign Member from Lead</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Campaign_Member</name>
        <label>Create Campaign Member</label>
        <locationX>710</locationX>
        <locationY>947</locationY>
        <inputAssignments>
            <field>CampaignId</field>
            <value>
                <elementReference>varCampaignRecord.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LeadId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Responded</stringValue>
            </value>
        </inputAssignments>
        <object>CampaignMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Campaign_for_Facebook</name>
        <label>Get Campaign for Facebook</label>
        <locationX>578</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Campaign_Assignment_for_Facebook</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Facebook</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Campaign</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Campaign_for_Instagram</name>
        <label>Get Campaign for Instagram</label>
        <locationX>314</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Campaign_Assignment_for_Instagram</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Instagram</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Campaign</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Campaign_for_Twitter</name>
        <label>Get Campaign for Twitter</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Campaign_Assignment_For_Twitter</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Twitter</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Campaign</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Campaign_for_YouTube</name>
        <label>Get Campaign for YouTube</label>
        <locationX>842</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Campaign_Assignment_for_YouTube</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Youtube</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Campaign</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Campaign_Member</name>
        <label>Get Campaign Member</label>
        <locationX>578</locationX>
        <locationY>731</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Decision_WhetherAlready_Campaign_Member_Exists_or_Not</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LeadId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>CampaignId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varCampaignRecord.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CampaignMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>452</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Decision_Based_on_How_do_you_Know_about_Us</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LeadSource</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Web</stringValue>
            </value>
        </filters>
        <object>Lead</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>varCampaignRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Campaign</objectType>
    </variables>
</Flow>
