FitLifeProLatest/force-app/main/default/flows/FitLifePro_Final_Enquiry_Object_Data_Clean_Up.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <decisions>
        <name>Checking_Member_Records</name>
        <label>Checking Member Records</label>
        <locationX>314</locationX>
        <locationY>360</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Converted_to_Member</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Member_Records</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_Converted_Enquiry_Records</targetReference>
            </connector>
            <label>Converted to Member</label>
        </rules>
        <rules>
            <name>Not_Converted</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>For_calculating_30Days</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_Enquiry_Record</targetReference>
            </connector>
            <label>Not Converted</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>For_calculating_30Days</name>
        <dataType>Boolean</dataType>
        <expression>(TODAY() - DATEVALUE({!$Record.CreatedDate})) &gt; 180</expression>
    </formulas>
    <interviewLabel>FitLifePro Final Enquiry Object Data Clean Up {!$Flow.CurrentDateTime}</interviewLabel>
    <label>FitLifePro Final Enquiry Object Data Clean Up</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordDeletes>
        <name>Delete_Converted_Enquiry_Records</name>
        <label>Delete Converted Enquiry Records</label>
        <locationX>50</locationX>
        <locationY>468</locationY>
        <inputReference>$Record</inputReference>
    </recordDeletes>
    <recordDeletes>
        <name>Delete_Enquiry_Record</name>
        <label>Delete Enquiry Record</label>
        <locationX>314</locationX>
        <locationY>468</locationY>
        <inputReference>$Record</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>Get_Member_Records</name>
        <label>Get Member Records</label>
        <locationX>314</locationX>
        <locationY>252</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Checking_Member_Records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Email__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Email__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Phone__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Phone__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Member__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Member_Records</targetReference>
        </connector>
        <object>Enquiry__c</object>
        <schedule>
            <frequency>Once</frequency>
            <startDate>2023-10-24</startDate>
            <startTime>21:44:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
</Flow>
