FitLifeProLatest/force-app/main/default/flows/FitLife_Pro_Registration_Form.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>58.0</apiVersion>
    <choices>
        <name>Arun</name>
        <choiceText>Arun</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Arun</stringValue>
        </value>
    </choices>
    <choices>
        <name>Chitra</name>
        <choiceText>Chitra</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Chitra</stringValue>
        </value>
    </choices>
    <choices>
        <name>Hari</name>
        <choiceText>Hari</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Hari</stringValue>
        </value>
    </choices>
    <choices>
        <name>Swapna</name>
        <choiceText>Swapna</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Swapna</stringValue>
        </value>
    </choices>
    <choices>
        <name>Tamil</name>
        <choiceText>Tamil</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Tamil</stringValue>
        </value>
    </choices>
    <constants>
        <name>conPhoneValidation</name>
        <dataType>String</dataType>
        <value>
            <stringValue>([0-9]{10})</stringValue>
        </value>
    </constants>
    <decisions>
        <description>using the Phone number checking lead record does have have any lead with the same phone number</description>
        <name>Checking_Lead_Duplication</name>
        <label>Checking Lead Duplication</label>
        <locationX>710</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>Create_Lead_Record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>New Lead</defaultConnectorLabel>
        <rules>
            <name>Existing_Lead</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Lead_Record.Phone</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Phone.value</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Lead_Record.Email</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Email.value</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Lead</targetReference>
            </connector>
            <label>Existing Lead</label>
        </rules>
    </decisions>
    <decisions>
        <name>Last_Name_not_entered</name>
        <label>Last Name not entered?</label>
        <locationX>380</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>Get_Lead_Record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Lead_Name.lastName</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Error_Message_Screen</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>var_MembershipPlan</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>Membership_Plan__c</picklistField>
        <picklistObject>Registration__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>var_slotPicklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>Available_Slot__c</picklistField>
        <picklistObject>Registration__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>var_subscriptionPicklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>Subscription__c</picklistField>
        <picklistObject>Registration__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>varInterestType</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>Interest_Type__c</picklistField>
        <picklistObject>Lead</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>varJearAboutUs</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>Hear_About_Us__c</picklistField>
        <picklistObject>Lead</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>varModeOfClass</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>Mode_Of_Class__c</picklistField>
        <picklistObject>Lead</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>FitLife Pro Registration Form {!$Flow.CurrentDateTime}</interviewLabel>
    <isAdditionalPermissionRequiredToRun>true</isAdditionalPermissionRequiredToRun>
    <label>FitLife Pro Registration Form</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Lead_Record</name>
        <label>Create Lead Record</label>
        <locationX>1106</locationX>
        <locationY>566</locationY>
        <connector>
            <targetReference>Create_Registration</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Scr_4</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Available_Slot__c</field>
            <value>
                <elementReference>Available_Slot</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>District__c</field>
            <value>
                <elementReference>Lead.bottomValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email</field>
            <value>
                <elementReference>Email.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>Lead_Name.firstName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Geographic_Location__c</field>
            <value>
                <elementReference>Lead.topValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Hear_About_Us__c</field>
            <value>
                <elementReference>Hear_About_Us</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>I_agree__c</field>
            <value>
                <elementReference>I_Agree</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>Lead_Name.lastName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Membership_Plan__c</field>
            <value>
                <elementReference>Membership_Plan</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Membership_Start_Date__c</field>
            <value>
                <elementReference>Membership_Start_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone</field>
            <value>
                <elementReference>Phone.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>State__c</field>
            <value>
                <elementReference>Lead.middleValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subscription__c</field>
            <value>
                <elementReference>Subscription</elementReference>
            </value>
        </inputAssignments>
        <object>Lead</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Registration</name>
        <label>Create Registration Record</label>
        <locationX>1106</locationX>
        <locationY>674</locationY>
        <connector>
            <targetReference>screen3</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Scr_3</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Available_Slot__c</field>
            <value>
                <elementReference>Available_Slot</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>District__c</field>
            <value>
                <elementReference>Lead.bottomValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email__c</field>
            <value>
                <elementReference>Email.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>First_Name__c</field>
            <value>
                <elementReference>Lead_Name.firstName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Geographic_Location__c</field>
            <value>
                <elementReference>Lead.topValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Hear_About_Us__c</field>
            <value>
                <elementReference>Hear_About_Us</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>I_agree_to_receive_Email__c</field>
            <value>
                <elementReference>I_Agree</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Last_Name__c</field>
            <value>
                <elementReference>Lead_Name.lastName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Lead_Name__c</field>
            <value>
                <elementReference>Create_Lead_Record</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Membership_Plan__c</field>
            <value>
                <elementReference>Membership_Plan</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Membership_Start_Date__c</field>
            <value>
                <elementReference>Membership_Start_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone__c</field>
            <value>
                <elementReference>Phone.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>State__c</field>
            <value>
                <elementReference>Lead.middleValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subscription__c</field>
            <value>
                <elementReference>Subscription</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Trainer__c</field>
            <value>
                <elementReference>Trainer</elementReference>
            </value>
        </inputAssignments>
        <object>Registration__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Registration_Record_for_Existing_Lead</name>
        <label>Create Registration Record for Existing Lead</label>
        <locationX>314</locationX>
        <locationY>674</locationY>
        <connector>
            <targetReference>Copy_1_of_screen3</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Scr_1</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Available_Slot__c</field>
            <value>
                <elementReference>Available_Slot</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>District__c</field>
            <value>
                <elementReference>Lead.bottomValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email__c</field>
            <value>
                <elementReference>Email.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>First_Name__c</field>
            <value>
                <elementReference>Lead_Name.firstName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Geographic_Location__c</field>
            <value>
                <elementReference>Lead.topValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Hear_About_Us__c</field>
            <value>
                <elementReference>Hear_About_Us</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>I_agree_to_receive_Email__c</field>
            <value>
                <elementReference>I_Agree</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Last_Name__c</field>
            <value>
                <elementReference>Lead_Name.lastName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Lead_Name__c</field>
            <value>
                <elementReference>Get_Lead_Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Membership_Plan__c</field>
            <value>
                <elementReference>Membership_Plan</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Membership_Start_Date__c</field>
            <value>
                <elementReference>Membership_Start_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone__c</field>
            <value>
                <elementReference>Phone.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>State__c</field>
            <value>
                <elementReference>Lead.middleValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subscription__c</field>
            <value>
                <elementReference>Subscription</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Trainer__c</field>
            <value>
                <elementReference>Trainer</elementReference>
            </value>
        </inputAssignments>
        <object>Registration__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Lead_Record</name>
        <label>Get Lead Record</label>
        <locationX>710</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Checking_Lead_Duplication</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Phone</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Phone.value</elementReference>
            </value>
        </filters>
        <filters>
            <field>Email</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Email.value</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Lead</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>Updating Existing Lead Record</description>
        <name>Update_Lead</name>
        <label>Update Lead</label>
        <locationX>314</locationX>
        <locationY>566</locationY>
        <connector>
            <targetReference>Create_Registration_Record_for_Existing_Lead</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Scr_2</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Lead_Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Available_Slot__c</field>
            <value>
                <elementReference>Available_Slot</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Membership_Plan__c</field>
            <value>
                <elementReference>Membership_Plan</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Membership_Start_Date__c</field>
            <value>
                <elementReference>Membership_Start_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subscription__c</field>
            <value>
                <elementReference>Subscription</elementReference>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Copy_1_of_screen3</name>
        <label>Success Scr 1</label>
        <locationX>314</locationX>
        <locationY>782</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Copy_1_of_ThankYouImage</name>
            <extensionName>flowruntime:image</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>imageName</name>
                <value>
                    <stringValue>ThankyouImage</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Error_Message_Screen</name>
        <label>Error Message Screen</label>
        <locationX>50</locationX>
        <locationY>350</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Error_message</name>
            <fieldText>&lt;p&gt;Please enter Last Name&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Error_Scr_1</name>
        <label>Error Scr 1</label>
        <locationX>578</locationX>
        <locationY>782</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>er_meg</name>
            <fieldText>&lt;p&gt;Unable to Create Registration Record...&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Error_Scr_2</name>
        <label>Error Scr 2</label>
        <locationX>842</locationX>
        <locationY>674</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Error_Meg</name>
            <fieldText>&lt;p&gt;Unable to Update Lead Record...&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Error_Scr_3</name>
        <label>Error Scr 3</label>
        <locationX>1370</locationX>
        <locationY>782</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Screen_4</name>
            <fieldText>&lt;p&gt;Unable to create Registration Record&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Error_Scr_4</name>
        <label>Error Scr 4</label>
        <locationX>1634</locationX>
        <locationY>674</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ErrorMessage</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;Unable to create Lead Record...&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Screen1</name>
        <label>Screen1</label>
        <locationX>380</locationX>
        <locationY>134</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Last_Name_not_entered</targetReference>
        </connector>
        <fields>
            <name>Lead_Name</name>
            <extensionName>flowruntime:name</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Phone</name>
            <extensionName>flowruntime:phone</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>pattern</name>
                <value>
                    <elementReference>conPhoneValidation</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>placeholder</name>
                <value>
                    <stringValue>Please enter valid Phone Number</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Email</name>
            <extensionName>flowruntime:email</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Lead</name>
            <extensionName>flowruntime:dependentPicklists</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>dependencyWrapperApiName</name>
                <value>
                    <stringValue>Lead</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>topPicklistApiName</name>
                <value>
                    <stringValue>Geographic_Location__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>middlePicklistApiName</name>
                <value>
                    <stringValue>State__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>topLabel</name>
                <value>
                    <stringValue>Geo Location</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>topValue</name>
                <value>
                    <stringValue>Geographical_Location</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>middleLabel</name>
                <value>
                    <stringValue>State</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>middleValue</name>
                <value>
                    <stringValue>States</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>bottomLabel</name>
                <value>
                    <stringValue>District</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>bottomValue</name>
                <value>
                    <stringValue>District</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>bottomPicklistApiName</name>
                <value>
                    <stringValue>District__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>topRequired</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Hear_About_Us</name>
            <choiceReferences>varJearAboutUs</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <stringValue>Social_Media</stringValue>
            </defaultValue>
            <fieldText>Hear About Us</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Membership_Plan</name>
            <choiceReferences>var_MembershipPlan</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Membership Plan</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Trainer</name>
            <choiceReferences>Swapna</choiceReferences>
            <choiceReferences>Hari</choiceReferences>
            <choiceReferences>Chitra</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Trainer</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Membership_Plan</leftValueReference>
                    <operator>Contains</operator>
                    <rightValue>
                        <stringValue>Platinum</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Subscription</name>
            <choiceReferences>var_subscriptionPicklist</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Subscription</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Membership_Start_Date</name>
            <dataType>Date</dataType>
            <fieldText>Membership Start Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Available_Slot</name>
            <choiceReferences>var_slotPicklist</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Available Slot</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>I_Agree</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>true</booleanValue>
            </defaultValue>
            <fieldText>I Agree to receive Email/ SMS</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;Please select I agree&lt;/p&gt;</errorMessage>
                <formulaExpression>{!I_Agree}</formulaExpression>
            </validationRule>
        </fields>
        <nextOrFinishButtonLabel>Submit</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>screen3</name>
        <label>Success Scr 2</label>
        <locationX>1106</locationX>
        <locationY>782</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ThankYouImage</name>
            <extensionName>flowruntime:image</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>imageName</name>
                <value>
                    <stringValue>ThankyouImage</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Screen1</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>enquiryEmailTemplate</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 11.36px; font-family: Arial, Helvetica, sans-serif; color: rgb(0, 0, 0);&quot;&gt;Dear {!Lead_Name.lastName},&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 11.36px; font-family: Arial, Helvetica, sans-serif; color: rgb(0, 0, 0);&quot;&gt;We&#39;re excited to confirm your enquiry. Our Sales Team will Reach out .&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 11.36px; font-family: Arial, Helvetica, sans-serif; color: rgb(0, 0, 0);&quot;&gt;Thank you for choosing FitLife Pro.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 11.36px; font-family: Arial, Helvetica, sans-serif; color: rgb(0, 0, 0);&quot;&gt;Thanks &amp;amp; regards&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 11.36px; font-family: Arial, Helvetica, sans-serif; color: rgb(0, 0, 0);&quot;&gt;FitLife Pro&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;img src=&quot;https://fitlifepro2-dev-ed.develop.file.force.com/sfc/servlet.shepherd/version/download/0685j00000KLWod?asPdf=false&amp;amp;operationContext=CHATTER&quot; alt=&quot;newlogotrail1.jpg&quot;&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>EmailCollection</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_UserEmailCollection</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
