FitLifeProLatest/force-app/main/default/flows/FitLifePro_Entitlement_Updation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <decisions>
        <name>Check_Membership</name>
        <label>Check Membership</label>
        <locationX>446</locationX>
        <locationY>287</locationY>
        <defaultConnectorLabel>None</defaultConnectorLabel>
        <rules>
            <name>Platinum</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Membership_Plan__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Platinum</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Entitlement_Record_Platinum</targetReference>
            </connector>
            <label>Platinum</label>
        </rules>
        <rules>
            <name>Gold</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Membership_Plan__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Gold</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Entitlement_Record_Gold</targetReference>
            </connector>
            <label>Gold</label>
        </rules>
        <rules>
            <name>Silver</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Membership_Plan__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Silver</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Entitlement_Record_Silver</targetReference>
            </connector>
            <label>Silver</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>FitLifePro Entitlement Updation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>FitLifePro Entitlement Updation</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Entitlement_Record_Gold</name>
        <label>Get Entitlement Record - Gold</label>
        <locationX>314</locationX>
        <locationY>395</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Entitlement_Lookup_Gold</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>Contains</operator>
            <value>
                <stringValue>Gold</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Entitlement</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Entitlement_Record_Platinum</name>
        <label>Get Entitlement Record - Platinum</label>
        <locationX>50</locationX>
        <locationY>395</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Entitlement_Lookup_Platinum</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>Contains</operator>
            <value>
                <stringValue>Platinum</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Entitlement</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Entitlement_Record_Silver</name>
        <label>Get Entitlement Record - Silver</label>
        <locationX>578</locationX>
        <locationY>395</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Entitlement_Lookup_Silver</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>Contains</operator>
            <value>
                <stringValue>Silver</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Entitlement</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Entitlement_Lookup_Gold</name>
        <label>Update Entitlement Lookup - Gold</label>
        <locationX>314</locationX>
        <locationY>503</locationY>
        <inputAssignments>
            <field>EntitlementId</field>
            <value>
                <elementReference>Get_Entitlement_Record_Gold.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Entitlement_Lookup_Platinum</name>
        <label>Update Entitlement Lookup - Platinum</label>
        <locationX>50</locationX>
        <locationY>503</locationY>
        <inputAssignments>
            <field>EntitlementId</field>
            <value>
                <elementReference>Get_Entitlement_Record_Platinum.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Entitlement_Lookup_Silver</name>
        <label>Update Entitlement Lookup - Silver</label>
        <locationX>578</locationX>
        <locationY>503</locationY>
        <inputAssignments>
            <field>EntitlementId</field>
            <value>
                <elementReference>Get_Entitlement_Record_Silver.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>320</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_Membership</targetReference>
        </connector>
        <object>Case</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
