FitLifeProLatest/force-app/main/default/flows/Fitlifepro_Revised_Diet_Plan_Form.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>59.0</apiVersion>
    <dynamicChoiceSets>
        <name>planname</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>Diet_Plan_Name__c</picklistField>
        <picklistObject>Diet_Plan__c</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>Fitlifepro Revised Diet Plan Form {!$Flow.CurrentDateTime}</interviewLabel>
    <isAdditionalPermissionRequiredToRun>true</isAdditionalPermissionRequiredToRun>
    <label>Fitlifepro Revised Diet Plan Form</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Diet_Plan_Records</name>
        <label>Create Diet Plan Records</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <connector>
            <targetReference>Success_Screen</targetReference>
        </connector>
        <inputAssignments>
            <field>Calorie_Goal__c</field>
            <value>
                <elementReference>Calorie_Goal</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Diet_End_Date__c</field>
            <value>
                <elementReference>Diet_End_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Diet_Plan_Name__c</field>
            <value>
                <elementReference>Diet_Plan_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Diet_Start_Date__c</field>
            <value>
                <elementReference>Diet_Start_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Excersice_Plan__c</field>
            <value>
                <elementReference>Exercise_Plan</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Meal_Plan__c</field>
            <value>
                <elementReference>Meal_Plan</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Member__c</field>
            <value>
                <elementReference>Get_member_detail.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Supplement_Requirements__c</field>
            <value>
                <elementReference>Supplement_Requirements</elementReference>
            </value>
        </inputAssignments>
        <object>Diet_Plan__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_member_detail</name>
        <label>Get member detail</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Diet_Plan_Records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Member_Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Member__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Diet_Plan_Screen</name>
        <label>Diet Plan Screen</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_member_detail</targetReference>
        </connector>
        <fields>
            <name>Diet_Plan_Screen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Diet_Plan_Screen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Member_Id</name>
                    <dataType>String</dataType>
                    <fieldText>Member Id</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Diet_Plan_Screen_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Calorie_Goal</name>
                    <dataType>Number</dataType>
                    <fieldText>Calorie Goal</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <scale>0</scale>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Diet_Plan_Screen_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Diet_Plan_Screen_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Diet_Plan_Name</name>
                    <choiceReferences>planname</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Diet Plan Name</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Diet_Plan_Screen_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Meal_Plan</name>
                    <fieldText>Meal Plan</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Diet_Plan_Screen_Section3</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Diet_Plan_Screen_Section3_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Diet_Start_Date</name>
                    <dataType>Date</dataType>
                    <fieldText>Diet Start Date</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Diet_Plan_Screen_Section3_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Exercise_Plan</name>
                    <fieldText>Exercise Plan</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Diet_Plan_Screen_Section4</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Diet_Plan_Screen_Section4_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Diet_End_Date</name>
                    <dataType>Date</dataType>
                    <fieldText>Diet End Date</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Diet_Plan_Screen_Section4_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Supplement_Requirements</name>
                    <fieldText>Supplement Requirements</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>Submit</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Success_Screen</name>
        <label>Success Screen</label>
        <locationX>176</locationX>
        <locationY>458</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Scuess_Text</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 20px;&quot;&gt;Diet Plan is added successfully for {!Get_member_detail.First_Name__c}!!!﻿&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Done</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Diet_Plan_Screen</targetReference>
        </connector>
    </start>
    <status>Active</status>
</Flow>
