FitLifeProLatest/force-app/main/default/flows/Hari_Pdf.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>58.0</apiVersion>
    <constants>
        <name>Api_cons_Key</name>
        <dataType>String</dataType>
        <value>
            <stringValue>a1a6331ad2594712b5ab396d651dd458</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Checking_Duplicate_Member</name>
        <label>Checking Duplicate Member</label>
        <locationX>182</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>Payment_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>New Member</defaultConnectorLabel>
        <rules>
            <name>Existing_Member</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Get_Member.Phone__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>phone.value</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Member.Email__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>email.value</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Duplicate_Member</targetReference>
            </connector>
            <label>Existing Member</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>var_Gender</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>Gender__c</picklistField>
        <picklistObject>Member__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>var_MembershipPlan</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>Membership_Plan__c</picklistField>
        <picklistObject>Subscription__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>var_PaymentOptions</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>Online_Payment_Options__c</picklistField>
        <picklistObject>Payment__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>var_SubscriptionType</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>Subscription_Type__c</picklistField>
        <picklistObject>Subscription__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Var_TimeSLot</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>Time_Slot__c</picklistField>
        <picklistObject>Member__c</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>Formula</name>
        <dataType>Boolean</dataType>
        <expression>AND(LEN({!CVV})==3 , REGEX({!CVV},&quot;^[0-9]*$&quot;))</expression>
    </formulas>
    <formulas>
        <name>Formula_Age_Validation</name>
        <dataType>Boolean</dataType>
        <expression>FLOOR((TODAY()-{!DOB})/365.25)&gt;18</expression>
    </formulas>
    <formulas>
        <name>Formula_CardValidation</name>
        <dataType>Boolean</dataType>
        <expression>AND(LEN({!Card_Number})==12 , REGEX({!Card_Number},&quot;^[0-9]*$&quot;))</expression>
    </formulas>
    <formulas>
        <name>Formula_StartDate_Validation</name>
        <dataType>Boolean</dataType>
        <expression>{!Membership_Start_Date} &gt; {!$Flow.CurrentDate}</expression>
    </formulas>
    <formulas>
        <name>var_AmountCalculation</name>
        <dataType>Currency</dataType>
        <expression>IF( {!Membership_Plan}==&#39;Silver&#39; &amp;&amp; {!Subscription_Type} == &#39;Monthly&#39;, 1000, 
IF( {!Membership_Plan}== &#39;Gold&#39; &amp;&amp; {!Subscription_Type} == &#39;Monthly&#39; , 2000,
IF( {!Membership_Plan}== &#39;Platinum&#39; &amp;&amp; {!Subscription_Type} ==  &#39;Monthly&#39; , 3000,
IF( {!Membership_Plan}== &#39;Silver&#39; &amp;&amp; {!Subscription_Type} == &#39;Quarterly&#39; , 3000,
IF( {!Membership_Plan}== &#39;Gold&#39; &amp;&amp; {!Subscription_Type} == &#39;Quarterly&#39; , 4000,
IF( {!Membership_Plan}== &#39;Platinum&#39; &amp;&amp; {!Subscription_Type} == &#39;Quarterly&#39; , 6000,
IF( {!Membership_Plan}== &#39;Silver&#39; &amp;&amp; {!Subscription_Type} == &#39;Annually&#39;, 7000,
IF( {!Membership_Plan}== &#39;Gold&#39; &amp;&amp; {!Subscription_Type} == &#39;Annually&#39;, 9000,
IF( {!Membership_Plan}== &#39;Platinum&#39; &amp;&amp; {!Subscription_Type} == &#39;Annually&#39; , 12000,
0
)))))))))</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>var_SubscriptionName</name>
        <dataType>String</dataType>
        <expression>{!First_Name} +&#39;-&#39;+ {!Membership_Plan}</expression>
    </formulas>
    <interviewLabel>Hari Pdf {!$Flow.CurrentDateTime}</interviewLabel>
    <isAdditionalPermissionRequiredToRun>true</isAdditionalPermissionRequiredToRun>
    <label>Hari Pdf</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Member_Record</name>
        <label>Member Record</label>
        <locationX>314</locationX>
        <locationY>566</locationY>
        <connector>
            <targetReference>Subscription_Record</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Member_Error</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Area__c</field>
            <value>
                <elementReference>Location.middleValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DOB__c</field>
            <value>
                <elementReference>DOB</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>District__c</field>
            <value>
                <elementReference>Location.topValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email__c</field>
            <value>
                <elementReference>email.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>First_Name__c</field>
            <value>
                <elementReference>First_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Gender__c</field>
            <value>
                <elementReference>Gender</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Last_Name__c</field>
            <value>
                <elementReference>Last_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Membership_Plan__c</field>
            <value>
                <elementReference>Membership_Plan</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Membership_Start_Date__c</field>
            <value>
                <elementReference>Membership_Start_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone__c</field>
            <value>
                <elementReference>phone.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subscription_Type__c</field>
            <value>
                <elementReference>Subscription_Type</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Time_Slot__c</field>
            <value>
                <elementReference>Time_Slot</elementReference>
            </value>
        </inputAssignments>
        <object>Member__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Payment_Record</name>
        <label>Payment Record</label>
        <locationX>314</locationX>
        <locationY>782</locationY>
        <connector>
            <targetReference>success_Screen</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Copy_2_of_Member_Error</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Amount__c</field>
            <value>
                <elementReference>var_AmountCalculation</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Member__c</field>
            <value>
                <elementReference>Member_Record</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Online_Payment_Options__c</field>
            <value>
                <elementReference>Payment_Options</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Payment_Date__c</field>
            <value>
                <elementReference>Date</elementReference>
            </value>
        </inputAssignments>
        <object>Payment__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Subscription_Record</name>
        <label>Subscription Record</label>
        <locationX>314</locationX>
        <locationY>674</locationY>
        <connector>
            <targetReference>Payment_Record</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Copy_1_of_Member_Error</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Member__c</field>
            <value>
                <elementReference>Member_Record</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Membership_Plan__c</field>
            <value>
                <elementReference>Membership_Plan</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Membership_Start_Date__c</field>
            <value>
                <elementReference>Membership_Start_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>var_SubscriptionName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subscription_Type__c</field>
            <value>
                <elementReference>Subscription_Type</elementReference>
            </value>
        </inputAssignments>
        <object>Subscription__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Member</name>
        <label>Get Member</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Checking_Duplicate_Member</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Phone__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>phone.value</elementReference>
            </value>
        </filters>
        <filters>
            <field>Email__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>email.value</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Member__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Basic_Details</name>
        <label>Basic Details</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_Member</targetReference>
        </connector>
        <fields>
            <name>Screen1</name>
            <extensionName>flowruntime:image</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>imageName</name>
                <value>
                    <stringValue>Screen1</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>horizontalAlignment</name>
                <value>
                    <stringValue>center</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>First_Name</name>
            <dataType>String</dataType>
            <fieldText>First Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Last_Name</name>
            <dataType>String</dataType>
            <fieldText>Last Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>phone</name>
            <extensionName>flowruntime:phone</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>pattern</name>
                <value>
                    <stringValue>([0-9]{10})</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>varTScreenPhone</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>email</name>
            <extensionName>flowruntime:email</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>varTScreenEmail</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>DOB</name>
            <dataType>Date</dataType>
            <fieldText>DOB</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;Age should be above 18&lt;/p&gt;</errorMessage>
                <formulaExpression>{!Formula_Age_Validation}</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Gender</name>
            <choiceReferences>var_Gender</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Gender</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Location</name>
            <extensionName>flowruntime:dependentPicklists</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>dependencyWrapperApiName</name>
                <value>
                    <stringValue>Member__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>topPicklistApiName</name>
                <value>
                    <stringValue>District__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>middlePicklistApiName</name>
                <value>
                    <stringValue>Area__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>topLabel</name>
                <value>
                    <stringValue>District</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>topRequired</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>middleLabel</name>
                <value>
                    <stringValue>Branch</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>topValue</name>
                <value>
                    <elementReference>varTScreenDist</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>middleValue</name>
                <value>
                    <elementReference>varTScreebBranch</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Time_Slot</name>
            <choiceReferences>Var_TimeSLot</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Time Slot</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Membership_Plan</name>
            <choiceReferences>var_MembershipPlan</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Membership Plan</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Subscription_Type</name>
            <choiceReferences>var_SubscriptionType</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Subscription Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Membership_Start_Date</name>
            <dataType>Date</dataType>
            <fieldText>Membership Start Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;Enter Future Date&lt;/p&gt;</errorMessage>
                <formulaExpression>{!Formula_StartDate_Validation}</formulaExpression>
            </validationRule>
        </fields>
        <nextOrFinishButtonLabel>Proceed to Pay</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Copy_1_of_Member_Error</name>
        <label>Subscription_Error</label>
        <locationX>842</locationX>
        <locationY>782</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Copy_1_of_Error1</name>
            <fieldText>&lt;p&gt;Unable to Create Subscription Record!!!&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Copy_2_of_Member_Error</name>
        <label>Payment_Error</label>
        <locationX>578</locationX>
        <locationY>890</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Copy_2_of_Error1</name>
            <fieldText>&lt;p&gt;Unable to Create Payment Record!!!&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Duplicate_Member</name>
        <label>Duplicate Member</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>duplicate</name>
            <fieldText>&lt;p&gt;Member already exists!!!&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Member_Error</name>
        <label>Member_Error</label>
        <locationX>1106</locationX>
        <locationY>674</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Error1</name>
            <fieldText>&lt;p&gt;Unable to Create Member Record!!!&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Payment_Screen</name>
        <label>Payment Screen</label>
        <locationX>314</locationX>
        <locationY>458</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Member_Record</targetReference>
        </connector>
        <fields>
            <name>screen2</name>
            <extensionName>flowruntime:image</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>imageName</name>
                <value>
                    <stringValue>Screen2</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>horizontalAlignment</name>
                <value>
                    <stringValue>Center</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Total_Amount</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 18px;&quot;&gt;Amount: &lt;/span&gt;&lt;strong style=&quot;font-size: 18px;&quot;&gt;{!var_AmountCalculation}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Date</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>$Flow.CurrentDate</elementReference>
            </defaultValue>
            <fieldText>Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Payment_Options</name>
            <choiceReferences>var_PaymentOptions</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Payment Options</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>UPI_ID</name>
            <dataType>String</dataType>
            <fieldText>UPI ID</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Payment_Options</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>GPay/PhonePe</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Card_Number</name>
            <dataType>String</dataType>
            <fieldText>Card Number</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;Card Number should be 12 digits&lt;/p&gt;</errorMessage>
                <formulaExpression>{!Formula_CardValidation}</formulaExpression>
            </validationRule>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Payment_Options</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Credit/Debit Card</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Payment_Screen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Payment_Screen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Expiry_Date</name>
                    <dataType>String</dataType>
                    <fieldText>Expiry Date</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Payment_Screen_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>CVV</name>
                    <dataType>String</dataType>
                    <fieldText>CVV</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <validationRule>
                        <errorMessage>&lt;p&gt;Enter Valid CVV&lt;/p&gt;</errorMessage>
                        <formulaExpression>{!Formula}</formulaExpression>
                    </validationRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Payment_Options</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Credit/Debit Card</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <nextOrFinishButtonLabel>Confirm</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>success_Screen</name>
        <label>success Screen</label>
        <locationX>314</locationX>
        <locationY>890</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>success</name>
            <extensionName>flowruntime:image</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>imageName</name>
                <value>
                    <stringValue>Screen3</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>horizontalAlignment</name>
                <value>
                    <stringValue>Center</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Conformation_Text</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-family: verdana; font-size: 24px;&quot;&gt;Your Payment has been Successfully completed!!!&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-family: verdana; font-size: 24px;&quot;&gt;Thanks for Registering!!!&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Sendpdf</name>
            <extensionName>c:generatePdfAndSendEmail</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <nextOrFinishButtonLabel>Done</nextOrFinishButtonLabel>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Basic_Details</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Var_TimeSlot_Screen</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varTScreebBranch</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varTScreenDist</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Binding Email</description>
        <name>varTScreenEmail</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varTScreenPhone</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
