FitLifeProLatest/force-app/main/default/flows/Pdf_Subscription.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>OTP_Generation</name>
        <label>OTP Generation</label>
        <locationX>446</locationX>
        <locationY>674</locationY>
        <actionName>OTPGenerator</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Send_OTP_Mail</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <nameSegment>OTPGenerator</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Send_OTP_Mail</name>
        <label>Send OTP Mail</label>
        <locationX>446</locationX>
        <locationY>782</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>OTP_Validation</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>Get_Member_Records.Email__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <elementReference>$Label.workflow_Sender_Email_Address</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>FitLifePro: OTP to Make Payment</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>var_OTP_emailBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>59.0</apiVersion>
    <decisions>
        <name>Checking_Subscription_Period</name>
        <label>Checking Subscription Period</label>
        <locationX>776</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>Live_Subscription</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Live Subscription</defaultConnectorLabel>
        <rules>
            <name>End_of_Subscription</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>For_Last_Period_Calculation</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Renewal</targetReference>
            </connector>
            <label>End of Subscription</label>
        </rules>
    </decisions>
    <decisions>
        <name>Checking_the_OTP</name>
        <label>Checking the OTP</label>
        <locationX>446</locationX>
        <locationY>998</locationY>
        <defaultConnector>
            <targetReference>Invalid_OTP_Meg</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Invalid</defaultConnectorLabel>
        <rules>
            <name>Valid</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Enter_the_OTP</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>OTP_Generation</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Subscription</targetReference>
            </connector>
            <label>Valid</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>Var_Membership</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>Membership_Plan__c</picklistField>
        <picklistObject>Subscription__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Var_PaymentOptions</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>Online_Payment_Options__c</picklistField>
        <picklistObject>Payment__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>var_Subscription</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>Subscription_Type__c</picklistField>
        <picklistObject>Subscription__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Var_TimeSlot</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>Time_Slot__c</picklistField>
        <picklistObject>Member__c</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>For_AmountCalculation</name>
        <dataType>Currency</dataType>
        <expression>IF( {!Membership_Plan}==&#39;Silver&#39; &amp;&amp; {!Subscription_Type} == &#39;Monthly&#39;, 1000, 
IF( {!Membership_Plan}== &#39;Gold&#39; &amp;&amp; {!Subscription_Type} == &#39;Monthly&#39; , 2000,
IF( {!Membership_Plan}== &#39;Platinum&#39; &amp;&amp; {!Subscription_Type} ==  &#39;Monthly&#39; , 3000,
IF( {!Membership_Plan}== &#39;Silver&#39; &amp;&amp; {!Subscription_Type} == &#39;Quarterly&#39; , 3000,
IF( {!Membership_Plan}== &#39;Gold&#39; &amp;&amp; {!Subscription_Type} == &#39;Quarterly&#39; , 4000,
IF( {!Membership_Plan}== &#39;Platinum&#39; &amp;&amp; {!Subscription_Type} == &#39;Quarterly&#39; , 6000,
IF( {!Membership_Plan}== &#39;Silver&#39; &amp;&amp; {!Subscription_Type} == &#39;Annually&#39;, 7000,
IF( {!Membership_Plan}== &#39;Gold&#39; &amp;&amp; {!Subscription_Type} == &#39;Annually&#39;, 9000,
IF( {!Membership_Plan}== &#39;Platinum&#39; &amp;&amp; {!Subscription_Type} == &#39;Annually&#39; , 12000,
0
)))))))))</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>For_Calculate_Last7days</name>
        <dataType>Date</dataType>
        <expression>{!Get_Member_Records.Membership_End_Date__c} - 7</expression>
    </formulas>
    <formulas>
        <name>For_CardValidation</name>
        <dataType>Boolean</dataType>
        <expression>AND(LEN({!Card_Number})==12 , REGEX({!Card_Number},&quot;^[0-9]*$&quot;))</expression>
    </formulas>
    <formulas>
        <name>For_CVV_Validation</name>
        <dataType>Boolean</dataType>
        <expression>AND(LEN({!CVV})==3 , REGEX({!CVV},&quot;^[0-9]*$&quot;))</expression>
    </formulas>
    <formulas>
        <name>For_Last_Period_Calculation</name>
        <dataType>Boolean</dataType>
        <expression>{!Get_Member_Records.Membership_End_Date__c} - {!$Flow.CurrentDate} &lt;= 7</expression>
    </formulas>
    <formulas>
        <name>For_MembershipStartDate</name>
        <dataType>Date</dataType>
        <expression>IF({!Get_Member_Records.Membership_End_Date__c}&gt;={!$Flow.CurrentDate}, 
{!Get_Member_Records.Membership_End_Date__c}+1, 
{!$Flow.CurrentDate})</expression>
    </formulas>
    <formulas>
        <name>For_SubscriptionName</name>
        <dataType>String</dataType>
        <expression>{!Get_Member_Records.First_Name__c} +&#39;-&#39;+ {!Membership_Plan}</expression>
    </formulas>
    <interviewLabel>Pdf Subscription {!$Flow.CurrentDateTime}</interviewLabel>
    <isAdditionalPermissionRequiredToRun>true</isAdditionalPermissionRequiredToRun>
    <label>Pdf Subscription</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Payment</name>
        <label>Create Payment</label>
        <locationX>50</locationX>
        <locationY>1214</locationY>
        <connector>
            <targetReference>Update_Member</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Payment_Error</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Amount__c</field>
            <value>
                <elementReference>For_AmountCalculation</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Member__c</field>
            <value>
                <elementReference>Get_Member_Records.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Online_Payment_Options__c</field>
            <value>
                <elementReference>Payment_Options</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Payment_Date__c</field>
            <value>
                <elementReference>Date</elementReference>
            </value>
        </inputAssignments>
        <object>Payment__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Subscription</name>
        <label>Create Subscription</label>
        <locationX>50</locationX>
        <locationY>1106</locationY>
        <connector>
            <targetReference>Create_Payment</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Sub_Error</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Member__c</field>
            <value>
                <elementReference>Get_Member_Records.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Membership_Plan__c</field>
            <value>
                <elementReference>Membership_Plan</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Membership_Start_Date__c</field>
            <value>
                <elementReference>For_MembershipStartDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>For_SubscriptionName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subscription_Type__c</field>
            <value>
                <elementReference>Subscription_Type</elementReference>
            </value>
        </inputAssignments>
        <object>Subscription__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Member_Records</name>
        <label>Get Member Records</label>
        <locationX>776</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Display_Member_details</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Email__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.Email</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Member__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Member</name>
        <label>Update Member</label>
        <locationX>50</locationX>
        <locationY>1322</locationY>
        <connector>
            <targetReference>Success</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Member_Records.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Membership_Plan__c</field>
            <value>
                <elementReference>Membership_Plan</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Membership_Start_Date__c</field>
            <value>
                <elementReference>For_MembershipStartDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subscription_Type__c</field>
            <value>
                <elementReference>Subscription_Type</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Time_Slot__c</field>
            <value>
                <elementReference>Time_Slot</elementReference>
            </value>
        </inputAssignments>
        <object>Member__c</object>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Display_Member_details</name>
        <label>Display Member details</label>
        <locationX>776</locationX>
        <locationY>242</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Checking_Subscription_Period</targetReference>
        </connector>
        <fields>
            <name>display</name>
            <fieldText>&lt;p&gt;{!var_MembershipDetails}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Click here to Renewal</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Error</name>
        <label>Error</label>
        <locationX>1370</locationX>
        <locationY>242</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Error_Message</name>
            <fieldText>&lt;p&gt;Unable to Get Member Record&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Invalid_OTP_Meg</name>
        <label>Invalid OTP Meg</label>
        <locationX>842</locationX>
        <locationY>1106</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>OTP_Validation</targetReference>
        </connector>
        <fields>
            <name>meg</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Please Enter the Valid OTP...&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Try Again</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Live_Subscription</name>
        <label>Live Subscription</label>
        <locationX>1106</locationX>
        <locationY>458</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>sub</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 20px; color: rgb(28, 124, 18);&quot;&gt;You have an active subscription ....&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 16px; background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;You can Renew your Membership Plan from &lt;/span&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;{!For_Calculate_Last7days}&lt;/strong&gt;...&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>OTP_Validation</name>
        <label>OTP Validation</label>
        <locationX>446</locationX>
        <locationY>890</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Checking_the_OTP</targetReference>
        </connector>
        <fields>
            <name>Enter_the_OTP</name>
            <dataType>String</dataType>
            <fieldText>Enter the OTP</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <nextOrFinishButtonLabel>Submit</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Payment_Error</name>
        <label>Payment Error</label>
        <locationX>314</locationX>
        <locationY>1322</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Pay_Err</name>
            <fieldText>&lt;p&gt;Unable to create Payment Record!!!&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Payment_Screen</name>
        <label>Payment Screen</label>
        <locationX>446</locationX>
        <locationY>566</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>OTP_Generation</targetReference>
        </connector>
        <fields>
            <name>Screen2</name>
            <extensionName>flowruntime:image</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>imageName</name>
                <value>
                    <stringValue>Screen2</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>horizontalAlignment</name>
                <value>
                    <stringValue>center</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>amount</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 18px;&quot;&gt;Amount:&lt;/span&gt;&lt;strong style=&quot;font-size: 18px;&quot;&gt; {!For_AmountCalculation}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Date</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>$Flow.CurrentDate</elementReference>
            </defaultValue>
            <fieldText>Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Payment_Options</name>
            <choiceReferences>Var_PaymentOptions</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Payment Options</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>UPI_ID</name>
            <dataType>String</dataType>
            <fieldText>UPI ID</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Payment_Options</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>GPay/PhonePe</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Card_Number</name>
            <dataType>String</dataType>
            <fieldText>Card Number</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Card Number should be 12 digits&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>{!For_CardValidation}</formulaExpression>
            </validationRule>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Payment_Options</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Credit/Debit Card</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Payment_Screen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Payment_Screen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Expiry_Date</name>
                    <dataType>String</dataType>
                    <fieldText>Expiry Date</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Payment_Screen_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>CVV</name>
                    <dataType>String</dataType>
                    <fieldText>CVV</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <validationRule>
                        <errorMessage>&lt;p&gt;Enter Valid CVV&lt;/p&gt;</errorMessage>
                        <formulaExpression>{!For_CVV_Validation}</formulaExpression>
                    </validationRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Payment_Options</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Credit/Debit Card</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <nextOrFinishButtonLabel>Confirm</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Renewal</name>
        <label>Renewal</label>
        <locationX>446</locationX>
        <locationY>458</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Payment_Screen</targetReference>
        </connector>
        <fields>
            <name>Screen1</name>
            <extensionName>flowruntime:image</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>imageName</name>
                <value>
                    <stringValue>Screen1</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>horizontalAlignment</name>
                <value>
                    <stringValue>center</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Time_Slot</name>
            <choiceReferences>Var_TimeSlot</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Time Slot</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Membership_Plan</name>
            <choiceReferences>Var_Membership</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Membership Plan</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Subscription_Type</name>
            <choiceReferences>var_Subscription</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Subscription Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <nextOrFinishButtonLabel>Proceed</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Sub_Error</name>
        <label>Sub Error</label>
        <locationX>578</locationX>
        <locationY>1214</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>subs_Err</name>
            <fieldText>&lt;p&gt;Unable to create subscription!!!&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Success</name>
        <label>Success</label>
        <locationX>50</locationX>
        <locationY>1430</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Screen3</name>
            <extensionName>flowruntime:image</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>imageName</name>
                <value>
                    <stringValue>Screen3</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>horizontalAlignment</name>
                <value>
                    <stringValue>center</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Paid</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-family: verdana; font-size: 24px;&quot;&gt;Your Payment has been Successfully completed!!!&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-family: verdana; font-size: 24px;&quot;&gt;Thanks for Renewal...&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Pdf</name>
            <extensionName>c:generatePdfAndSendEmail</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <nextOrFinishButtonLabel>Done</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>650</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Member_Records</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>var_MembershipDetails</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 22px; font-family: serif;&quot;&gt;My Profile&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 22px; font-family: serif;&quot;&gt;Name: &lt;/strong&gt;&lt;span style=&quot;font-size: 22px; font-family: serif; color: rgb(101, 125, 231);&quot;&gt;{!Get_Member_Records.First_Name__c} {!Get_Member_Records.Last_Name__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 22px; font-family: serif;&quot;&gt;Phone:&lt;/strong&gt;&lt;span style=&quot;font-size: 22px; font-family: serif;&quot;&gt; &lt;/span&gt;&lt;span style=&quot;font-size: 22px; font-family: serif; color: rgb(101, 125, 231);&quot;&gt;{!Get_Member_Records.Phone__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 22px; font-family: serif;&quot;&gt;Email: &lt;/strong&gt;&lt;span style=&quot;font-size: 22px; font-family: serif;&quot;&gt;  &lt;/span&gt;&lt;span style=&quot;font-size: 22px; font-family: serif; color: rgb(101, 125, 231);&quot;&gt;{!Get_Member_Records.Email__c}﻿&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 22px; font-family: serif;&quot;&gt;Branch: &lt;/strong&gt;&lt;span style=&quot;font-size: 22px; font-family: serif; color: rgb(101, 125, 231);&quot;&gt;{!Get_Member_Records.Area__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255); font-family: serif; font-size: 22px;&quot;&gt;Time Slot: &lt;/strong&gt;&lt;span style=&quot;color: rgb(101, 125, 231); background-color: rgb(255, 255, 255); font-family: serif; font-size: 22px;&quot;&gt;{!Get_Member_Records.Time_Slot__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 22px; font-family: serif;&quot;&gt;Membership:&lt;/strong&gt;&lt;span style=&quot;font-size: 22px; font-family: serif;&quot;&gt; &lt;/span&gt;&lt;span style=&quot;font-size: 22px; font-family: serif; color: rgb(101, 125, 231);&quot;&gt;{!Get_Member_Records.Membership_Plan__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 22px; font-family: serif;&quot;&gt;Subscription:&lt;/strong&gt;&lt;span style=&quot;font-size: 22px; font-family: serif;&quot;&gt; &lt;/span&gt;&lt;span style=&quot;font-size: 22px; font-family: serif; color: rgb(101, 125, 231);&quot;&gt;{!Get_Member_Records.Subscription_Type__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255); font-size: 22px; font-family: serif;&quot;&gt;Subscription Start Date:&lt;/strong&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255); font-size: 22px; font-family: serif;&quot;&gt; &lt;/span&gt;&lt;span style=&quot;color: rgb(101, 125, 231); background-color: rgb(255, 255, 255); font-size: 22px; font-family: serif;&quot;&gt;{!Get_Member_Records.Membership_Start_Date__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255); font-size: 22px; font-family: serif;&quot;&gt;Subscription End Date&lt;/strong&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255); font-size: 22px; font-family: serif;&quot;&gt;:  &lt;/span&gt;&lt;span style=&quot;color: rgb(101, 125, 231); background-color: rgb(255, 255, 255); font-size: 22px; font-family: serif;&quot;&gt;{!Get_Member_Records.Membership_End_Date__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255); font-size: 22px; font-family: serif;&quot;&gt;Trainer Name:&lt;/strong&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255); font-size: 22px; font-family: serif;&quot;&gt; &lt;/span&gt;&lt;span style=&quot;color: rgb(101, 125, 231); background-color: rgb(255, 255, 255); font-size: 22px; font-family: serif;&quot;&gt;{!Get_Member_Records.Fitness_Trainer__r.Name} {!Get_Member_Records.Fitness_Trainer__r.Last_Name__c}&lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>var_OTP_emailBody</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Hi &lt;strong&gt;{!Get_Member_Records.First_Name__c} {!Get_Member_Records.Last_Name__c},&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Please Use the OTP - &lt;strong&gt;{!OTP_Generation} &lt;/strong&gt;to make your payment.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Here&#39;s what happens next: &lt;/strong&gt;&lt;/p&gt;&lt;p&gt;Retrieve the OTP provided above and enter it in the designated field. Once the OTP is successfully verified, you can make your payment.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Regards,&lt;/p&gt;&lt;p&gt;&lt;strong&gt;FitLife Pro&lt;/strong&gt;&lt;/p&gt;</text>
    </textTemplates>
</Flow>
